#header {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .logo {
  height: 35px;
  animation: logo-anim 8s linear 0s infinite;
}

@keyframes logo-anim {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#header .tabs {
  padding: 0.5rem;
}

#header .actions > button:last-child {
  margin-left: 0.5rem;
}

.auth {
  max-width: 300px;
}
